.detailInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.detailImg {
  width: 100%;
  margin-top: 10%;
  position: relative;
  z-index: -1;  
  height: 400px;
}

.fa-search-plus {
  position: relative;
  z-index: 2;
  bottom: 20px;
}

.detailImg:hover {
  transform: scale(1.5);
}

h6{
  margin-left: 20px;
  color: grey;
}

.emojiContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

span {
  color: black;
}

@media only screen and (min-width: 1123px)  {
  .detailInfo {
    display: flex;
   flex-direction: row;
   width: 100%;
  }

  .detailContainer {
    width: 50%;
  }

  .detailImg {
    height: 500px;
    margin-top: 0;
  }

  .detailHeader {
    width: 40%;
  }
}
