.commentsContainer {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comments {
  width: 70%;
}

.comment {
  padding: 5px;
  margin-left: 28%;
  background: white;
  border-radius: 19px;
}

.comment-bold {
  font-weight: bold;
}

@media only screen and (min-width: 1123px)  {
  .commentsContainer {
   justify-content: center;
   width: 50%;
  }

  .detailContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 
}

